{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>MeteoArc</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css'%}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css'%}">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>

		<div class="site-content">
			<div class="site-header" data-bg-color="#262936">
				<div class="container">
					<a href="/" class="branding">
						<img src="{% static 'images/logo1.png'%}" alt="" class="logo">
						<div class="logo-type">
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Inicio</a></li>
							<li class="menu-item"><a href="news.html">Datos Diarios</a></li>
							<li class="menu-item"><a href="live-cameras.html">Datos Semanales</a></li>
							<li class="menu-item"><a href="photos.html">Datos Anuales</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="{% static 'images/banner.png'%}">

				</div>
			</div>
			{% for ob in object_list%}
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
							<div class="today forecast">
							<div class="forecast-header">
								<div class="day">{{ob.fecha}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">
									{{estado}}
								</div>
								<div class="degree">
									<div class="num">{{ob.tempDHT11C|floatformat:0}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img {% if estado1 == "Ventoso" %}
														src="{% static 'images/icons/icon-8.svg'%}"
												 {% else %}
												 {% if estado1 == "Soleado" %}
																 src="{% static 'images/icons/icon-1.svg'%}"
															{% else %}
															{% if estado1 == "Noche" %}
																			src="{% static 'images/icons/icon-2.svg'%}"
																	 {% else %}
																	 {% if estado1 == "Lluvioso" %}
							 														src="{% static 'images/icons/icon-10.svg'%}"
							 												 {% else %}
																			 {% if estado1 == "Frío" %}
									 														src="{% static 'images/icons/icon-14.svg'%}"
									 												 {% else %}
									 												 {%endif%}
							 												 {%endif%}
																	 {%endif%}
															{%endif%}
												 {%endif%}
										alt="" width=90>
									</div>
								</div>
								<span><img src="{% static 'images/icon12.png'%}" alt="">{{ob.humedadDHT11}}%</span>
								<span><img src="{% static 'images/icon-wind.png'%}" alt="">{{ob.velocidadViento}}km/h</span>
								<span><img src="{% static 'images/icon-compass.png'%}" alt="">{{ob.direccionViento}}</span>
							</div>

						</div>
					</div>
				</div>
			</div>
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Más Datos</h2>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<h3 class="location">Temperaturas</h3>
									DHT11: {{ob.tempDHT11F}} <sup>o</sup>F <br>
									BMP180: {{ob.tempBMPC}} <sup>o</sup>C  y  {{ob.tempBMPF}} <sup>o</sup>F <br>
									Indice de Calor: {{ob.IndCalorDHT11}}
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<h3 class="location">Altitudes</h3>
									{{ob.altitudMBMP}} metros <br>
									{{ob.altitudFBMP}} pies
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<h3 class="location">Presiones</h3>
									Presion Absoluta: <br>
									{{ob.presionAbsMB}} mbar<br>
									{{ob.presionAbsInHg}}  Hg<br>
									Presion Relacion al Nivel del Mar <br>
									{{ob.presionNivelMarMB}} mbar<br>
									{{ob.presionNivelMarInHg}} Hg <br>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<h3 class="location">Cantidad De Lluvia</h3>
									<small class="date">{{ob.cantidadLLuvia}} mm</small>
								</div>
							</div>
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->
			{%endfor%}
			<footer class="site-footer">
				<div class="container">
					<p class="colophon">MeteoArc 2018. Todos los derechos Reservados</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>

		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "js/plugins.js" %}"></script>
		<script src="{% static "js/app.js" %}"></script>

	</body>

</html>
