{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>MeteoArc</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css'%}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css'%}">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>

		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="{% static 'images/logo1.png'%}" alt="" class="logo">
						<div class="logo-type">
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="{%url 'index'%}">Inicio</a></li>
							<li class="menu-item"><a href="{%url 'hoy'%}">Datos Diarios</a></li>
							<li class="menu-item"><a href="{%url 'semana'%}">Datos Semanales</a></li>
							<li class="menu-item"><a href="{% url 'mes'%}">Datos Mensuales</a></li>
							<li class="menu-item"><a href="{%url 'anio'%}">Datos Anuales</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="{%url 'index'%}">Inicio</a>
						<span>{{ titulo }}</span>
					</div>
				</div>


				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="content col-md-12">
									<h1 class="entry-title">{{titulo}} desde {{end}} a {{start}}</h1>
										{% for ob in object_list  %}
										<div class="post">
										<div class="row">
												<br>
										<h2>
											{{ob.fecha.time}}
										</h2>
										<div class="col-md-3 col-sm-6">
											<h2 class="location">Temperaturas</h2>
											DHT11: {{ob.tempDHT11F}} <sup>o</sup>F <br>
											BMP180: {{ob.tempBMPC}} <sup>o</sup>C  y  {{ob.tempBMPF}} <sup>o</sup>F <br>
											Indice de Calor: {{ob.IndCalorDHT11}}
										</div>
										<div class="col-md-3 col-sm-6">
											<h2 class="location">Altitudes</h2>
											{{ob.altitudMBMP}} metros <br>
											{{ob.altitudFBMP}} pies
										</div>
										<div class="col-md-3 col-sm-6">
											<h2 class="location">Presiones</h2>
											<h3>Presion Absoluta:</h3>
											{{ob.presionAbsMB}} mbar<br>
											{{ob.presionAbsInHg}}  Hg<br>
											<h3>Presion Relacion al Nivel del Mar:</h3><br>
											{{ob.presionNivelMarMB}} mbar<br>
											{{ob.presionNivelMarInHg}} Hg <br>
										</div>
										<div class="col-md-3 col-sm-6">
											<h3 class="location">Cantidad De Lluvia</h3>
											{{ob.cantidadLLuvia}} mm
										</div>
										<br>
										<br>
										</div>
										</div>
										{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
			<footer class="site-footer">
				<div class="container">
					<p class="colophon">MeteoArc 2018. Todos los derechos Reservados</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>

		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>

		</body>

		</html>
